{% extends 'base_template.html' %}

{% block title %}Select Motif(s){% endblock %}

{% block pageheader %}<h1><span class="text-muted">Sequences >></span> Motifs <span class="text-muted">>> Options</span></h1>{% endblock %}

{% block content %}
    <form action="/motifs/" class="form-horizontal" method="post">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-xs-12 top15">
                    <a href="/motifs/create/" class="btn btn-default btn-block btn-lg">Create Motif</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>User-Generated Motifs</h3>
                    <p class="text-muted">These are YOUR motifs created using the application's motif creation tool.</p>
                </div>
            </div>
            {% if motifs.count() == 0 %}
                <div class="alert alert-info top15">
                    <p>No collections have been created yet. Please use the creation form to continue!</p>
                </div>
            {% else %}
                {% for motif in motifs %}
                    <div class="col-xs-5 col-sm-3 col-xs-offset-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="motif_list_{{ loop.index0 }}" name="motif_list[]" value="{{ motif['_id'] }}">
                                {{ motif['motif'] }}
                            </label>
                        </div>
                    </div> <!-- /.col-xs-11 .col-sm-5 .col-xs-offset-1 -->
                {% endfor %}
            {% endif %}
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-6 col-xs-12 top15">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                </div> <!-- /col-sm-4 col-xs-12 top15 -->
                <div class="col-sm-3 col-xs-12 top15">
                    <a href="/sequences/" class="btn btn-default btn-block btn-lg">Go Back</a>
                </div> <!-- /col-sm-4 col-xs-12 top15 -->
                <div class="col-sm-3 col-xs-12 top15">
                    <button type="reset" class="btn btn-danger btn-block btn-lg">Reset Form</button>
                </div> <!-- /col-sm-4 col-xs-12 top15 -->
            </div>

        </fieldset>


    </form>
{% endblock %}

{% block script %}{% endblock %}