{% extends 'base_template.html' %}

{% block title %}Sequence Collection Options{% endblock %}

{% block pageheader %}<h1>Step 2 of 3: Sequence Collection Options<br><small>Create or Select sequence collections for sequence analysis.</small></h1>{% endblock %}

{% block content %}
    {% if success == True %}
        <p class="alert alert-success">{{ motif_list }} added to query!</p>
    {% elif success == False %}
        <p class="alert alert-danger">Error! {{ motif_list }} not added to database query!</p>
    {% endif %}
    <div class="row">
        <a class="btn btn-lg btn-primary btn-block" href="/form/sequences/create/">Upload New Sequence Collection</a>
    </div>
    <div class="row top10">
        <a class="btn btn-lg btn-primary btn-block" href="/form/sequences/select/">Select Sequence Collection(s)</a>
    </div>
{% endblock %}

{% block script %}{% endblock %}