{% extends 'base_template.html' %}

{% block title %}Create Motif{% endblock %}

{% block pageheader %}<h1>Create Motif<br><small>Use the motif building tool to create a motif to analyze sequence collections with.</small></h1>{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form action="/motif/create/" class="form-horizontal" method="post">
        <div class="col-md-10 col-xs-12">
            <div class="form-group">
                <label for="motif" class="col-xs-3 control-label">Full Motif</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" id="motif" name="motif" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="motif_part" class="col-xs-3 control-label top10">Motif Part</label>
                <div class="col-xs-12 col-sm-7 top10">
                    <input type="text" class="form-control" id="motif_part" name="motif_part" readonly>
                </div>
                <div class="col-xs-12 col-sm-2 top10">
                    <button class="btn btn-default btn-block" id="add_motif_part_to_full_motif" type="button">Add</button>
                </div>
            </div>
            <div class="form-group">
                <label for="motif_part" class="col-xs-3 control-label top10">Amino Acid List</label>
                <div class="col-xs-12 col-sm-5 top10">
                    <select class="form-control" id="motif_list" name="motif_list">
                        {% for value, display in motif_list %}
                            <option value="{{ value }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 top10">
                    <button class="btn btn-default btn-block" id="add_to_motif_part" type="button">Add</button>
                </div>
                <div class="col-xs-12 col-sm-2 top10">
                    <button class="btn btn-danger btn-block" id="clear_motif_part" type="button">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-sm-11 col-sm-offset-1 col-xs-12 top30">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit New Motif</button>
                <div class="top30">
                    <a class="btn btn-lg btn-block btn-default" href="/form/motif/">Go Back</a>
                </div>
                <div class="top15">
                    <button class="btn btn-lg btn-danger btn-block" type="reset">Clear Form</button>
                </div>
            </div>
        </div>


    </form>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {

            /* */
            $('#add_motif_part_to_full_motif').click(function() {
                var fullMotif = $('#motif').val();
                var motifPart = $('#motif_part').val();
                $('#motif').val((fullMotif + motifPart));
                $('#motif_part').val('');
                motifPartList = [];
            });

            /* for adding motif parts to full motif */
            $('#add_to_motif_part').click(function() {
                $('#motif_part').val(addMotifPart($('#motif_list').val()));
            });

            /* for clearing motif parts from field and clearing list stored in memory */
            $('#clear_motif_part').click(function() {
                $('#motif_part').val('');
                motifPartList = [];
            });
        });

        /* for storing current motif parts */
        var motifPartList = [];

        /* for adding to current motif part */
        function addMotifPart(newMotifPart) {
            motifPartList.push(newMotifPart);
            var motifPartString = '';
            for (var i = 0; i < motifPartList.length; i++) {
                motifPartString += motifPartList[i];
            }
            if (motifPartList.length <= 0) {
                return '';
            }
            else if (motifPartList.length === 1) {
                return motifPartString;
            }
            else {
                return '[' + motifPartString + ']';
            }
        }
    </script>
{% endblock %}