{% extends 'base_template.html' %}

{% block title %}Motif Options{% endblock %}

{% block pageheader %}<h1>Step 1 of 3: Motif Options<br><small>Create or Select motifs for sequence analysis.</small></h1>{% endblock %}

{% block content %}
    {% if success == True %}
        <p class="alert alert-success">{{ motif }} added to database!</p>
    {% elif success == False %}
        <p class="alert alert-danger">Error! {{ motif }} not added to database</p>
    {% endif %}
    <div class="row">
        <a class="btn btn-lg btn-primary btn-block" href="/form/motif/create/">Design New Motif</a>
    </div>
    <div class="row top10">
        <a class="btn btn-lg btn-primary btn-block" href="/form/motif/select/">Select Motif(s)</a>
    </div>
{% endblock %}

{% block script %}{% endblock %}