{% extends 'base_template.html' %}

{% block title %}Select Motif(s){% endblock %}

{% block pageheader %}<h1>Motifs <span class="text-muted">>> Sequences >> Options</span></h1>{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form action="/motif/" class="form-horizontal" method="post">
        <fieldset class="form-group">
            <h3>Default Motifs</h3>
            <p class="text-muted">These motifs have been curated for use with the analysis program by the creators. Feel free to create your own!</p>
            {% for motif in default_motifs %}
                <div class="col-xs-11 col-sm-5 col-xs-offset-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="motif_list_{{ loop.index0 }}" name="motif_list[]" value="{{ motif['_id'] }}">
                            {{ motif['sequence_motif'] }}
                        </label>
                    </div>
                </div> <!-- /.col-xs-11 .col-sm-5 .col-xs-offset-1 -->
            {% endfor %}
        </fieldset>
        <fieldset class="form-group">
            <h3>User-Generated Motifs</h3>
            <p class="text-muted">These are YOUR motifs created using the application's motif creation tool.</p>
            <div class="alert alert-info">
                <p>No user-generated motifs found in database!</p>
            </div> <!-- /.alert alert-info -->
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-4 col-xs-12 top15">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div> <!-- /col-sm-4 col-xs-12 top15 -->
            <div class="col-sm-4 col-xs-12 top15">
                <a href="/" class="btn btn-default btn-block btn-lg">Go Back</a>
            </div> <!-- /col-sm-4 col-xs-12 top15 -->
            <div class="col-sm-4 col-xs-12 top15">
                <button type="reset" class="btn btn-danger btn-block btn-lg">Reset Form</button>
            </div> <!-- /col-sm-4 col-xs-12 top15 -->
        </fieldset>


    </form>
{% endblock %}

{% block script %}{% endblock %}