{% extends 'base_template.html' %}

{% block title %}Select Motif(s){% endblock %}

{% block pageheader %}<h1>Select Motif(s)<br><small>Select previously created motif(s) to analyze sequence collections with.</small></h1>{% endblock %}

{% block content %}
    <form action="/form/motif/select/" class="form-horizontal" method="post">
        {% for motif in query %}
            <div class="col-xs-2">
                <div class="[ form-group ]">
                    <input type="checkbox" id="motif_list_{{ loop.index0 }}" name="motif_list[]" value="{{ motif['_id'] }}" />
                    <div class="[ btn-group ]">
                        <label for="motif_list_{{ loop.index0 }}" class="[ btn btn-primary ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span></span>
                        </label>
                        <label class="[ btn btn-default ]" for="motif_list_{{ loop.index0 }}">
                            {{ motif.sequence_motif }}
                        </label>
                    </div>
                </div>
            </div>

        {% endfor %}

        <div class="col-xs-12 top15">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
        </div>
    </form>
{% endblock %}

{% block script %}{% endblock %}