{% extends 'base_template.html' %}

{% block title %}Create Sequence Collection{% endblock %}

{% block pageheader %}<h1>Create Sequence Collection<br><small>Use the collection creation tool to create a collection to analyze.</small></h1>{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form action="/sequences/create/" class="form-horizontal" method="post">
        <fieldset class="form-group">
            <div class="row">
                <label for="collection_name" class="col-xs-3 control-label">Collection Name</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" id="collection_name" name="collection_name">
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <label for="collection_type" class="col-xs-3 control-label">Collection Type</label>
                <div class="col-xs-12 col-sm-9">
                    <select class="form-control" id="collection_type" name="collection_type">
                        {% for value, display in collection_types %}
                            <option value="{{ display }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <label for="collection_textbox" class="col-xs-3 control-label">Collection</label>
                <div class="col-xs-12 col-sm-9">
                    <textarea class="form-control" id="collection_textbox" name="collection_textbox" rows="10" style="resize: vertical"></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-6 col-xs-12 top15">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit New Motif</button>
                </div>
                <div class="col-sm-3 col-xs-12 top15">
                    <a class="btn btn-lg btn-block btn-default" href="/sequences/">Go Back</a>
                </div>
                <div class="col-sm-3 col-xs-12 top15">
                    <button class="btn btn-lg btn-danger btn-block" type="reset">Clear Form</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block script %}{% endblock %}