{% extends 'base_template.html' %}

{% block title %}Upload Sequence Collection FASTA File{% endblock %}

{% block pageheader %}<h1>Upload Sequence Collection FASTA File<br><small>Use the file upload tool to upload a collection to analyze.</small></h1>{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form action="/sequences/upload/" class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset class="form-group">
            <div class="row">
                <label for="collection_name" class="col-xs-3 control-label">Collection Name</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" id="collection_name" name="collection_name" required>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <label for="collection_type" class="col-xs-3 control-label">Collection Type</label>
                <div class="col-xs-12 col-sm-9">
                    <select class="form-control" id="collection_type" name="collection_type" required>
                        {% for value, display in collection_types %}
                            <option value="{{ display }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <label for="fasta_file" class="col-xs-3 control-label">File Upload</label>
                <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-default">
                                Upload FASTA File
                                <input type="file" id="fasta_file" name="fasta_file" style="display:none;" required>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="file_display" readonly>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-6 col-xs-12 top15">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit New Motif</button>
                </div>
                <div class="col-sm-3 col-xs-12 top15">
                    <a class="btn btn-lg btn-block btn-default" href="/sequences/">Go Back</a>
                </div>
                <div class="col-sm-3 col-xs-12 top15">
                    <button class="btn btn-lg btn-danger btn-block" type="reset">Clear Form</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            /**
             * Gathers filename from full path
             * JavaScript uses `\\` displayed as
             * `C:/fakepath/`
             */
            $("#fasta_file").change(function() {
                var fileName = $(this).val().split('\\').pop();
                $("#file_display").val(fileName);
            })
        })
    </script>
{% endblock %}